@import compass
@import compass/reset
@import breakpoint
@import subsets/helper
@import subsets/zurui-sass
@import subsets/buttons

// breakpoint
$nontarget: max-width 320px
$disktop: 570px

*
  box-sizing: border-box

$main-color    : #222
$seccond-color : #000
$accent-color  : #000
$link-color    : #ddd

[v-cloak]
  display: none

html,body,#app
  width: 100%
  height: 100%
  background-image: image-url("food.png")
  font-family: Helvetica
  +user-select(none)


#app
  position: relative

@import header
@import board
@import config
@import player
@import theme
@import notify

//
// export
//

.export
  display: none
  +breakpoint($disktop)
    display: block
    z-index: 10
    position: absolute
    left: 10px
    bottom: 10px

//
// source
//
#link
  display: none
  +breakpoint($disktop)
    display: block
    z-index: 10
    position: absolute
    bottom: 5px
    right: 5px
    a
      z-index: 10

//
// nontarget
//
#app, #config
  +breakpoint($nontarget)
    display: none
#nontarget
  +transition
  opacity: 0
  +breakpoint($nontarget)
    opacity: 1
    display: block
    width: 100%
    height: 100%
  p
    text-align: center
    color: white
    font-size: 200%
    position: absolute
    top: 50%
