#theme-input
  display: none
  &:checked ~ #theme
    opacity: 1
    visibility: visible
    +translateY(0)
    +breakpoint($disktop)
      opacity: 0
      visibility: visible
      +translateY(10px)
#theme-button
  display: block
  +breakpoint($disktop)
    display: block
  position: absolute
  bottom: 45px
  left: 5px
  color: #000
  background: rgba(0, 0, 0, 0.3)
  padding: 10px
  border-radius: 5px
  width: 35px
#theme
  +transition
  visibility: hidden
  opacity: 0
  +translateY(10px)
  +breakpoint($disktop)
    opacity: 1
    visibility: visible
    +translateY(0)
  z-index: 20
  +box-centerling(450px, 150px)
  +breakpoint($disktop)
    margin-top: 0
    top: initial
    bottom: 20px
  background: #F8907B
  border-radius: 5px
  padding: 30px
  label
    display: block
    text-shadow: 1px 1px 0 rgba(255,255,255, 0.2)
  span
    font-weight: bold
    font-size: 200%
  .button
    position: absolute
    right: 10px
    bottom: 30px
