script#icon-template(type="text/x-template")
  .icon(class="icon" v-class="config.charactor" v-style="left: x+'px', top: y+'px'")
    .image(v-style="background-color: config.color")
    .text(v-style="color: config.color") {{config.name}}
