script#user-palette-template(type="text/x-template")
  #user-palette.palette
    h3 User
    input(type="text" v-model="name" placeholder="name")
script#color-palette-template(type="text/x-template")
  #color-palette.palette
    h3 Color
    color-frame(v-repeat="colors" v-touch="tap: selectColor($value)")
script#room-palette-template(type="text/x-template")
  #room-palette.palette
    h3 Room
    input(type="text" v-model="room" placeholder="room" v-on="keyup: join | key enter")
    a.end.button(v-touch="tap: join") Join
