extends layout

block content
  #header
    h1 Are You an Artist
  section#app(v-on="mousemove : move, touchemove : move")
    draw-component(v-ref="board")
    icon-component
    a.export(v-touch="tap: exportFire") Export
  section#config
    .panel(v-if='show' v-transition)
      h2 Config
      color-palette
      charactor-palette
      a.submit(v-touch="tap: show = !show") End
  #nontarget
    p Please hold iPhone with landscape.
  include config
