extends layout

block content
  #app(v-on="mousemove : iconMove, touchemove : iconMove")
    canvas(v-component="draw" v-ref="drawArea")
    span#icon(class="icon{{icon.class}}" v-style="left: icon.x+'px', top: icon.y+'px', background-color: color") {{icon.text}}
