extends layout

block content
  #header
    h1 Are You an Artist
  include app
  include board
  include player
  include theme
  include config
  #link
    a.button.button-border(href="https://github.com/uzimith/are_you_an_artist" target="_blank") Source
  #nontarget
    p Please hold iPhone with landscape.
