extends layout

block content
  #link
    a.button.button-border(href="https://github.com/uzimith/are_you_an_artist" target="_blank") Source
  #header
    h1 Are You an Artist
  section#app(v-cloak)
    draw-component(v-ref="board")
    a.export.button.button-border(v-touch="tap: exportFire") Export
    #notify(v-if="notify.show" v-transition) {{notify.message}}
  section#player(v-cloak)
    h2 Player
      span.room(v-if="room") {{room}}
    div#list(v-repeat="list | orderBy order" v-style="border-color: color, background: color")
      span.number {{order}}
      span.name {{name}}
  section#theme(v-show="show")
    #input(v-if=" status == 'input' ")
      .genre
        label ジャンル
        input(v-model="genre")
      .theme
        label テーマ
        input(v-model="theme")
      a.start.button.button-border(v-touch="tap: submit") Question!
    #view(v-if=" status == 'view' ")
      .genre
        span {{genre}}
        | に関するもの
      .theme.theme
        span 「{{theme}}」
      a.end.button.button-border-caution(v-touch="tap: back") Back!
      a.start.button.button-border(v-touch="tap: start") Start
  section#config.panel(v-show='show' v-transition v-cloak)
    h2 Room
    room-palette
    h2 Config
    user-palette
    color-palette
    charactor-palette
    button.join.button(v-touch="tap: join") Join
  #nontarget
    p Please hold iPhone with landscape.
  include config
  include components
