doctype html
html
  head
    title AreYouAnArtist
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    script(src='socket.io/socket.io.js')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='vendor/css/font-awesome.min.css')
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    block content
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(src='build/build.js')
