doctype html
html
  head
    title AreYouAnArtist
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    script(src='javascripts/components/vue/dist/vue.min.js')
    script(src='javascripts/components/superagent/superagent.js')
    script(src='javascripts/components/underscore/underscore.js')
    script(src='javascripts/components/underscore.string/dist/underscore.string.min.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/reset.js')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content
    script(src='javascripts/client.js')
