doctype html
html
  head
    title AreYouAnArtist
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    script(src='socket.io/socket.io.js')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content
    script(src='build/build.js')
