section#thme(v-cloak)
  #input(v-if=" status == 'input' ")
    .genre
      label ジャンル
      input(v-model="genre")
    .theme
      label テーマ
      input(v-model="theme")
    a.button.button-border(v-touch="tap: submit") Question!
  #view(v-if=" status == 'view' ")
    .genre
      span {{genre}}
      | に関するもの
    .theme.theme
      span 「{{theme}}」
    a.button.button-border-caution(v-touch="tap: back") Back!
    a.button.button-border(v-touch="tap: start") Start
